body {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	color: white;
	font-size: 1em;
	font-family: "Verdana", "Times New Roman", "Sans Serif";
    background: url("Images/ornate1.png");
    /*background-size: 100% 100%;
    background-repeat: no-repeat;*/
	

}
/*An Image Class*/
.image { 
   position: relative; 
   width: 100%;
}
/*Background of the site*/
#TopBack {
	/*position: absolute; 
	top: 0; 
	left: 0; 
	width: 100%;*/
	z-index: -1;
	min-height:100%;
    min-width:100%;
    height:auto;
    width:auto;
    position:absolute;
    top:-100%; bottom:-100%;
    left:-100%; right:-100%;
    margin:auto;
}
#title {
	position: absolute; 
	top: 22px; 
	left: 0; 
	width: 100%;
	color:black;

}
#chaptertitle {
	position: absolute; 
	top: 125px; 
	left: 0; 
	width: 100%;
	color:black;
}
#fleeships {
	border:1px solid rgb(0,0,0);
}
tr,th,td {
	border:1px solid rgb(0,0,0);
}
#menu { 
   position: absolute; 
   top: 64px; 
   left: 0; 
   width: 100%;
   color:black;
}
p span 
{
    display: block;
}
span {
	color:black;
}
h1 {
	text-align: center;
}
img.center {
	margin: auto;
}